$border-color: rgba(57, 99, 188, 1);
$border-color-hover: #666;
$border-color-light: lighten($border-color, 30%);
$border-radius: 2px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: #eee;
$button-bg: white;
$button-color: #3963bc;
$button-primary-bg: #3963bc;
$button-primary-plain-color: #3963bc;
$button-success-bg: #34bfa3;
$button-success-plain-color: #34bfa3;
$button-danger-bg: #f4516c;
$button-danger-plain-color: #f4516c;
$button-info-bg: #c4c5d6;
$button-info-plain-color: #c4c5d6;
$button-height: 36px;
$color: #333;
$light-color: #666;
$font-size: 14px;
$small-font-size: 12px;
$input-height: 32px;
$red: #f1453d;
$grey: #eee;
$blue: #4a90e2;
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@mixin spin {
  animation: spin 2s infinite linear;
}
